.appeal {
  background-color: @grey;
}

.plus {
  .container-mob();
}

.plus__title {
  .line(18px; 24px;);
  font-weight: bold;
  color: @blue;
}

.plus-text {
  .line(14px; 24px;);
  color: @blue;
}

.appeal__pic {
  height: 320px;
  padding-top: 70px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position:  center bottom;
}
