.appeal {
  background-color: @grey;
}

.appeal__wrap {
  .container();
}

.appeal__pic {
  height: 285px;
  // padding-top: 10px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom -40px;
  background-clip: border-box;
}

.appeal__pic--desktop {
  display: none;
}

@media @tablet-widths {

  .appeal {
  display: flex;
  justify-content: space-around;
  padding-top: 108px;
  }

  .appeal__wrap {
  display: flex;
  flex-direction: column;
  // align-self: center;
  width: 310px;
  margin: 0;
  margin-top: 10px;
  }

  .appeal__pic {
    width: 260px;
    height: 420px;
    background-size: 226px;
    background-position: center bottom -50px;

  }

  .appeal__desktop-wrap {
  order: -1;
  }

}

@media @desktop-widths {

  .appeal {
    flex-direction: column;
    padding-top: 74px;
  }

  .appeal__pic {
    display: block;
    width: 200px;
    height: 300px;
    margin: 0;
    background-size: 170px;
    background-position: center bottom -87px;
  }

.appeal__desktop-wrap {
  display: flex;
  .container();
  justify-content: space-around;
}

  .appeal__wrap {
  display: flex;
  justify-content: space-around;
  .container();
  flex-direction: row;
  margin-top: 57px;
  }

  .appeal__item {
    width: 240px;
    padding-bottom: 30px;
  }

}
