.contacts {
  .container();
  background-color: @white;
  color: @blue;
  text-align: center;
}

.contacts__wanna-ask {
  .line(24px; 30px;);
  font-weight: lighter;
}

.contacts__list {
  .null();
  margin-top: 30px;
}

.contacts__list li {
  .line(18px;18px;);
  font-weight: bold;
}

.contacts__list p {
  .line(24px; 24px;);
  font-weight: lighter;
  color: @red;
  a {
    text-decoration: none;
    color: @red;
  }
}
