.form-prize {

}

.form-prize__title {
  .line(14px; 18px;);
  font-weight: lighter;
  color: @red;
  text-transform: uppercase;
}

.form-prize--red {
  .line(14px; 30px;);
  font-weight: lighter;
  color: @red;
  text-transform: uppercase;
}

.form-prize__section--grey {
  background-color: @grey;
}

.form-prize__wrap {
  .container-mob();
}

.form-prize__input {
  .line(18px; 30px;);
  color: @blue;
}

.form-prize__input placeholder {
  .line(18px; 30px;);
  color: @blue;
}

.form-prize__section textarea {
  .line(18px; 30px;);
  color: @blue;
}
