.form-filters {
  .container();
  display: flex;
  flex-wrap: wrap;
}

@media @tablet-widths {

  .form-filters {
    justify-content: space-between;
  }

  .form-filters__section {
    width: 300px;
  }
}

@media @desktop-widths {

  .form-filters {
    width: 800px;
  }

  .form-filters__section {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
  }
}
