.main-text {
  background-color: @white;
  color: @blue;
  text-align: center;
}

.main-text--inclined-block {
  .line(24px; 30px;);
  .container();
  font-weight: lighter;
  padding-top: 18px;
  // margin-bottom: 112px;
}

@media @tablet-widths {

  .main-text__title {
    .line(40px; 50px;);
    margin: 0;
  }

  .main-text--inclined-block {
    padding-top: 50px;
    margin-bottom: 0;
  }
}

@media @desktop-widths {

  .main-text__title {
    .line(50px; 60px;);
  }

  .main-text--inclined-block {
    padding-top: 67px;
    margin-bottom: 0;
  }
}
