.main-nav-list {
  .null();
  display: none;
  a {
    text-decoration: none;
    color: @white;
    .line(18px; 32px;);
    font-weight: bold;
    &:hover {
      color: @red;
    }
    &:active {
      color: @red;
      opacity: 0.5;
    }
  }
}

.main-nav-list__item {
  text-align: center;
  padding: 16px 0
}

.main-nav-list--visible {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.main-nav-list--visible .main-nav-list__item {
  border-top: 1px solid @white;
  border-bottom: 1px solid @black;
  padding: 16px 0;
}

@media @desktop-widths {

  .main-nav-list {
    width: 620px;
    display: flex;
    justify-content: space-between;
    a {
      .line(18px; 18px;);
      font-weight: normal;
    }
  }

  .main-nav-list--visible {
    flex-direction: row;
    justify-content: space-between;
    text-transform: none;
  }

  .main-nav-list--visible .main-nav-list__item {
    border: none;
  }

  .main-nav-list__item--active {
  border-bottom: 2px solid @white;
  }
}
