.main-descr {
  .container();
  color: @blue;
  background-color: @white;
  padding: 50px 0;
  text-align: center;
}

.main-descr__text {
  .line(14px;30px;);
}

.main-descr__text--visible {
  display: none;
}


@media @tablet-widths {

  .main-descr {
    padding: 100px 0;
    padding-bottom: 0;
  }

  .main-descr__text {
    width: 480px;
    margin: 0 auto;
    .line(18px;30px;);
  }

  .main-descr__text--visible {
    display: inline;
  }
}

@media @desktop-widths {


  .main-descr {
    padding: 90px 0;
    padding-bottom: 0;
    margin-bottom: 47px;
  }

  .main-descr__text {
    width: 760px;
    margin: 0 auto;
    .line(18px;30px;);
  }
}
