.main-nav {
  height: 65px;
  background-color: rgba(0,0,0,0.1)
}

.main-nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  .container();
}


@media @tablet-widths {

  .main-nav {
    height: 110px;
    background-color: rgba(0,0,0,0.1);
  }

  .main-nav__wrap {
    height: 110px;
    .container();
  }

}
