.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 170px;
  .container();
  background: @white;
  color: @blue;
  padding: 50px 0;
}

.page-footer--hidden {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 155px;
}

.page-footer__academy {
  display: block;
  width: 45px;
  height: 45px;
  background-color: white;
  background-image: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}

@media @tablet-widths {

  .page-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   min-height: 130px;
   align-items: center;
   padding: 0;
  }

  .page-footer__copyright {
    width: 130px;
  }

}

@media @tablet-widths {
  .page-footer {
    min-height: 200px;
  }
}
