.page-header {
  background-color: @blue;
  color: @white;
  background-image:
  url("../img/iphone-hand-mobile@1x.png"),
  url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom 270px right 63px, center;
  background-size: auto, cover;
  min-height: 465px;
  min-width: 320px;
}

.page-header--photo {
  min-height: 495px;
  background-image:
  none,
  url("../img/bg-back-mobile@1x.jpg");
  background-size: initial;
  background-position: center 254px;
}

.page-header--form {
  min-height: 495px;
  background-image:
  none,
  url("../img/bg-back-mobile@1x.jpg");
  background-size: initial;
  background-position: center 254px;
}

@media
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .page-header {
    background-image:
    url("../img/iphone-hand-mobile@2x.png"),
    url("../img/bg-back-mobile@2x.jpg");
    background-size: auto, cover;
  }

.page-header--photo {
  min-height: 240px;
  background-image:
  none,
  url("../img/bg-back-mobile@2x.jpg");
  background-size: initial;
}

.page-header--form {
  min-height: 495px;
  background-image:
  none,
  url("../img/bg-back-mobile@2x.jpg");
  background-size: initial;
}

}

@media @tablet-widths {

  .page-header {
    background-image:
    url("../img/iphone-hand-tablet@1x.png"),
    url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom 0 right -35px, center 210px;
    background-size: 695px, cover;
  }

  .page-header--photo {
    min-height: 240px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center 268px;
  }

  .page-header--form {
    min-height: 695px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center 268px;
  }

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header {
      background-image:
      url("../img/iphone-hand-tablet@2x.png"),
      url("../img/bg-back-tablet@2x.jpg");
      background-size: 1390px, cover;
    }

    .page-header--photo {
      min-height: 240px;
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }

    .page-header--form {
      min-height: 695px;
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }

}

@media @desktop-widths {

  .page-header {
    background-image:
    url("../img/iphone-hand-desktop@1x.png"),
    url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom 0 right 79px, center;
    background-size: 78%, cover;
  }

  .page-header--photo {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: center;
  }

  .page-header--form {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: center;
  }

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header {
      background-image:
      url("../img/iphone-hand-desktop@2x.png"),
      url("../img/bg-back-desktop@2x.jpg");
      background-size: contain, cover;
    }

    .page-header--photo {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }

    .page-header--form {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

}
