

h2 {
  color: red;
  .line(34px; 54px);
}

p {
  background-color: #fefefe;
}

body {
  font-family: "Open Sans";
  background-color: #cecece;
  .container-mob();
}

.page-header {
  background-color: @blue;
  color: @white;
}
