.page-footer {
  display: flex;
  justify-content: space-between;
  .container();
  background: @white;
  color: @blue;
  padding: 50px 0;
}

.page-footer--hidden {
  display: none;
}


@media @tablet-widths {

  .page-footer--hidden {
   display: flex;
  }



}
