.plus {
  text-align: center;
  margin-bottom: 34px;
}

.plus__title {
  .line(18px; 24px;);
  font-weight: bold;
  color: @black;
  margin: 0;
  margin-bottom: 13px;
}

.plus-text {
  .line(14px; 24px;);
  color: @blue;
  margin: 0;
}
