.rate {
  width: 100%;
  background-color: @grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  margin: 0 auto;
  padding: 58px 0 98px 0;
  margin-bottom: 43px;
}

@media @tablet-widths {

  .rate {
    padding: 96px 0 72px 0;
    margin-bottom: 48px;
  }

}

@media @desktop-widths {

  .rate {
    padding: 132px 0 95px 0;
    margin-bottom: 61px;
  }

}
