.tariffs {
  .container();
}

.tariffs__name {
  width: 380px;
  color: @white;
  background-color: @blue;
  .line(18px; 30px);
  font-weight: bold;
}

.tariffs__name span {
  .line(24px; 30px;);
  font-weight: lighter;
}

.tariffs__cell {
  border: 2px solid @grey;
  background-color: @white;
  padding: 10px;
  .line(14px; 30px;);
  color: @blue;
}
