.tariffs {
  position: relative;
  width: 295%;
  transform: translateX(-49%);
  margin-bottom: 25px;
}

.tariffs__name {
  color: @white;
  background-color: @blue;
  .line(18px; 30px);
  font-weight: bold;
  padding: 18px 0;
  text-transform: uppercase;
  &:nth-child(3) {
    border-right: 2px solid @white;
    border-left: 2px solid @white;
  }
}

.tariffs__name--hit::before {
  content: "";
  width: 150px;
  height: 96px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 54.2%;
}

.tariffs__name span {
  .line(24px; 30px;);
  font-weight: lighter;
}

.tariffs__name--hidden {
  background-color: transparent;
}

.tariffs__cell {
  border: 2px solid @grey;
  background-color: @white;
  background-image: url("../img/icon-yes.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position:  center;
  padding: 15px;
  .line(14px; 30px;);
  color: @blue;
}

.tariffs__cell:first-child {
  background-image: none;
}

.tariffs__cell--no {
  background-image: url("../img/icon-no.svg");
  background-size: 25px;
}

.tariffs__hit {
  width: 70px;
  height: 80px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.tariffs__wrap-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 12px;
  width: 65px;
  height: 28px;
}

.tariffs__btn {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #bec2c7;
  &:hover {
    background-color: #7e868f;
  }
  &:active {
    background-color: #e9ebec;
  }
}

.tariffs__btn--2 {
  border: 3px solid @blue;
  background-color: @white;
  &:hover {
    background-color: @white;
  }
}

@media @tablet-widths {

  .tariffs {
    .container();
    transform: none;
  }

.tariffs__name--hit::before {
  content: "";
  width: 150px;
  height: 96px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 51.5%;
}

  .tariffs__name {
    padding: 9px 12px;
  }

  .tariffs__cell {
    border: 2px solid @grey;
    background-color: @white;
    padding: 7px 15px;
    .line(14px; 30px;);
    color: @blue;
  }

  .tariffs__btn {
    display: none;
  }

}

@media @desktop-widths {

.tariffs__name--hit::before {
  content: "";
  width: 150px;
  height: 96px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50.3%;
}

  .tariffs__name {
    padding: 17px 18px;
  }

  .tariffs__cell {
    padding: 15px;
  }

}
