.tariffs {
  width: 295%;
  border: 1px  solid;
  transform: translateX(-49%);
}

.tariffs__name {
  border: 1px solid @white;
  color: @white;
  background-color: @blue;
  .line(18px; 30px);
  font-weight: bold;
  padding: 18px 0;
}

.tariffs__name span {
  .line(24px; 30px;);
  font-weight: lighter;
}

.tariffs__name--hidden {
  background-color: transparent;
}

.tariffs__cell {
  border: 1px solid;
  background-color: @white;
  padding: 15px;
  .line(14px; 30px;);
  color: @blue;
}

.tariffs__hit {
  width: 70px;
  height: 80px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

@media @tablet-widths {

  .tariffs {
  .container();
  border: 1px  solid;
  transform: none;
  }

  .tariffs__name {
  padding: 9px 12px;
  }

  .tariffs__cell {
  border: 1px solid;
  background-color: @white;
  padding: 7px 15px;
  .line(14px; 30px;);
  color: @blue;
}

}

@media @desktop-widths {

  .tariffs__name {
  padding: 17px 18px;
  }

  .tariffs__cell {
  padding: 15px;
  }
}
