.user-comments {
  .container();
  background-color: @grey;
  padding: 10px;
  box-sizing: border-box;
}

.user-comments__author {
  .line(14px;24px;);
  font-weight: bold;
  color: @blue;
  span {
    .line(12px;24px;);
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 5px;
  }
}

.user-comments__text {
  .line(14px;24px;);
  color: @blue;
}

.user-comments__like {
  .line(12px;24px;);
  color: @red;
  text-transform: uppercase;
  padding-left: 20px;
}
